<app-header></app-header>



<div *ngIf="cards.length > 0 ;else nothingCard">
    <div id="viewport">
        <ul class="stack" swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutright)="voteUp(true)" (throwoutleft)="voteUp(false)" (throwoutup)="voteUp(true)">
            <li #mycards1 swing-card *ngFor="let c of cards">
                <div *ngIf="aimcard" class="aim-card">
                    <div id="aim-icon" class="aim-icon aim-like">
                        <span class="glyphicon glyphicon-heart"></span>
                    </div>
                    <div id="aim-icon" class="aim-icon aim-dislike">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                    <div id="aim-icon" class="aim-icon aim-superlike">
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <div class="aim-image">
                        <img src="{{c.userImage[0]}}">
                    </div>
                    <div class="aim-caption " (click)="aimcards()">
                        <h2>{{c.age}} , {{ c.username1}}</h2>
                    </div>
                </div>
                <div *ngIf="aimfullcard" class="full fullcard-display">
                    <div class="aimfullwrapper">
                        <button class="aim-fullclose" (click)="closeaimcards()"> <span class="glyphicon glyphicon-arrow-down"></span></button></div>
                    <div class="aim-image">

                        <carousel>
                            <slide *ngFor="let picture of c.userImage">
                                <img class="fullcard-img" src="{{ picture }}">
                            </slide>
                        </carousel>
                    </div>
                    <div class="aim-caption fullcard-aimcaption">
                        <h2> {{ c.age }} , {{ c.username1 }}</h2>
                        <h6>{{c.distance}}km away</h6>
                        <h4>i am {{c.username1}}. i live in {{c.homeTown}}</h4>
                    </div>

                </div>

            </li>
        </ul>


        <div class="icons">
            <div class="container">
                <div class="col-md-12">
                    <button (click)="voteUp(false)" class="aim-remove"><span class="glyphicon glyphicon-remove "></span></button>
                    <button class="aim-star" (click)="voteUp('superlike')"><span class="glyphicon glyphicon-star "></span></button>
                    <button (click)="voteUp(true)" class="aim-heart"><span class="glyphicon glyphicon-heart "></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="swipe-modal">
        <div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Plus user Limit reached for this action</p>
                        <p>Please try again tomorrow</p>
                        <button type="button" class="close" aria-label="Close" (click)="dailyLimit()">
						<span aria-hidden="true">Ok</span>
					</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<ng-template #nothingCard>

    <section class="discovery">
        <div class="container">
            <div class="col-sm-1 col-md-2 col-lg-3"></div>
            <div class="col-sm-10 col-md-8 col-lg-6">
                <div class="nothingCardsection">
                    <div class="discover_icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="discover_about">
                        <h1 class="title">No Result Found</h1>
                        <p class="subtitle">We could not find any users as per your serach settings.Please expand your search settings or try again in sometime.</p>
                    </div>

                    <div class="icons disabled_icon">
                        <button class="aim-remove disabled"><span class="glyphicon glyphicon-remove "></span></button>
                        <button class="aim-star disabled"><span class="glyphicon glyphicon-star "></span></button>
                        <button class="aim-heart disabled"><span class="glyphicon glyphicon-heart "></span></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-2 col-lg-3"></div>
        </div>
    </section>


</ng-template>