<app-header></app-header>


<section class="daily-limit">
    <div class="container">
        <div class="col-sm-12 col-md-1 col-lg-3"></div>
        <div class="col-sm-12 col-md-10 col-lg-6">
            <div class="limit-wrap">
                <h2>You have reached your likes / pass limit</h2>
                <h3>Wait 11 hrs 05 minutes 36 seconds</h3>
                <h4>Upgrade to Plus Account</h4>
                <div class="limit-slider">
                    <carousel>
                        <slide>
                            <img src="assets/limit-buttons.png" alt="First slide">
                        </slide>
                        <slide>
                            <img src="assets/limit-buttons.png" alt="Second slide">
                        </slide>
                        <slide>
                            <img src="assets/limit-buttons.png" alt="Third slide">
                        </slide>
                    </carousel>
                </div>
                <div class="daily-button">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-custom7 btn-lg">Continue</button>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-custom8 btn-lg">No, I want to be a basic user.</button>
                    </div>
                </div>
            </div>

            <!-- <app-stripe-payment></app-stripe-payment> -->

        </div>
        <div class="col-sm-12 col-md-1 col-lg-3"></div>
    </div>
</section>