<app-header></app-header>




<div class="chat-panel">
    <div class="container">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10">
            <div *ngFor="let data of connection_result">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">

                            <!-- <div class="col-xs-4">
                                <img src="{{data.targetImage}}" width="100px" class="img-responsive rounded-circle">
                            </div> -->
                            <div class="col-xs-12">
                                <h2>{{data.targetName}}</h2>
                            </div>


                        </div>
                    </div>
                    <div class="panel-body chattab-scrollbar" id="scrollbarfancy">

                        <ul class="chat-container" *ngFor="let msg of message_result">
                            <li *ngIf="msg.senderId == data.targetId" class="life-container" class="chat-left">
                                <h2><span> <img src="{{data.targetImage}}" width="35px" class="img-responsive rounded-circle"></span>
                                    <span id="msg_text">{{msg.text}}</span></h2>
                                <p> <span id="msg_time">{{msg.time | date:'h:mm'}}</span></p>
                            </li>
                            <li *ngIf="msg.senderId !== data.targetId" class="life-container" class="chat-right">
                                <h2><span id="msg_time">{{msg.time | date:'h:mm'}}</span><span id="msg_text">{{msg.text}}</span></h2>
                            </li>
                        </ul>

                    </div>
                    <div class="panel-footer">
                        <form #chatForm="ngForm" (ngSubmit)="addItem(chatForm)" novalidate>
                            <div class="row">
                                <div class="col-xs-8">
                                    <input type="text" class="form-control input_msg" name="item" placeholder="Type a message..." [(ngModel)]="goalText" required="required">
                                </div>
                                <div class="col-xs-4 btn-in">
                                    <button type="submit" [disabled]="!chatForm.valid" class="btn custom-btn">{{ btnText }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>
</div>