.top-head {
	 float:left;
	 width:100%;
	 text-align:center;
	 background:#ef5858;
	 padding:0px;
}
.small-icon span {
	color: #fff;
    font-size: 80px;
    padding-top: 20px;	 
}
.top-head .img-circle  {
	border-radius: 50%;
    width: 55px;
    height: 55px;
    object-fit: cover;
	margin-top: 10px;
}
.chat img {
	  margin-top:10px;
}
.chat-tabs h2 {
	padding-top:50px;
	color:#000;
	text-align:left;
}  
.chat-tabs .list-group-item {
	border:1px solid #ef5858;
	cursor: pointer;
}
.chat-tabs {
	float:left;
	width:100%;
	padding:30px 0px;
}  
.chat-tabs .aim-badge {
    display: block;
    border-radius: 50%;
    width: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    height: 30px;
    background: #ef5858;
}   
  

@media only screen and (min-width: 0px) and (max-width: 576px){
.top-head .img-circle  {
    width: 55px;
    height: 55px;
	margin-top: 5px;
} 
.small-icon span {
	color: #fff;
    font-size: 50px;
    padding-top: 5px;	 
}
.chat-tabs .aim-badge {
    width: 10px;
	margin-top: 15px;
    height: 10px;
} 
.chat-tabs h2 {
	padding-top:15px;
	font-size:14px;
}
}