<app-header></app-header>


<section class="chat-tabs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8">
                <div *ngIf="connection_result.length > 0 ">
                    <h4 class="title_match">Matched Peoples:</h4>
                </div>
                <div *ngFor="let data of connection_result">
                    <div class="list-group">

                        <a class="list-group-item" (click)="gotochat(data._id)">
                            <div class="col-xs-10">
                                <div class="inline">
                                    <img src="{{data.targetImage}}" width="127px" class="img-responsive rounded-circle">
                                </div>
                                <div class="inline">
                                    <h2>{{data.targetName}}</h2>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div *ngIf="data.unreadMsgCount > 0">
                                    <span class="aim-badge">&nbsp;</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <a [routerLink]="['/chat/']" class="list-group-item">
				<div class="col-xs-4">
					<img src="assets/chat-img2.png" class="img-responsive">
				</div>
				<div class="col-xs-6">
					<h2>Vanessa</h2>
				</div>
				<div class="col-xs-2">
					
				</div>
			  </a>
			  <a [routerLink]="['/chat/']" class="list-group-item">
				<div class="col-xs-4">
					<img src="assets/chat-img3.png" class="img-responsive">
				</div>
				<div class="col-xs-6">
					<h2>Ella</h2>
				</div>
				<div class="col-xs-2">
					
				</div>
			  </a> -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div *ngIf="connection_result.length <=0 ">
                <div class="connectionless">
                    <h1> </h1>
                </div>
                <section class="">
                    <div class="container">
                        <div class="col-sm-1 col-md-1 col-lg-3"></div>
                        <div class="col-sm-10 col-md-10 col-lg-6">
                            <div class="nothingCardsection">
                                <div class="discover_icon">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                </div>
                                <div class="discover_about">
                                    <h1 class="title">Keep Swiping</h1>
                                    <p class="subtitle">You do not have any Connection yet, Swipe more people and make connection.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-3"></div>
                    </div>
                </section>
            </div>

        </div>


    </div>
</section>