.image-wrap {
    position: relative;
    top: 0;
    max-width: 350px;
    margin: 0px auto;
    float: left;
    width: 100%
}

.image-wrap button {
    position: absolute;
    bottom: 5px;
    right: 10px;
    background: #ef5858;
    border: 0px;
    color: #fff;
    padding: 6px 9px 6px 10px;
    font-size: 14px;
    border-radius: 50%;
}

.image-wrap img {
    width: 100%;
    height: auto;
}

.upload-container {
    max-width: 500px;
    margin: 0 auto;
    float: none;
    width: 100%;
}

.modal-content {
    padding: 25px;
}

.btn {
    margin: 35px 0px!important;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease-in-out 0s;
    padding: 8px;
}

.profil-modal .btn1 {
    font-size: 18px;
    background: #ef5858;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
    border: 2px solid #ef5858;
    margin-bottom: 10px !important;
}

.profil-modal .btn1:hover {
    background: transparent;
    color: #ef5858;
    border: 2px solid #ef5858;
}

.profil-modal .btn2 {
    font-size: 18px;
    background: #000;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
    border: 2px solid #000;
    margin: 20px 0px;
}

.profil-modal .btn2:hover {
    background: transparent;
    color: #000;
    border: 2px solid #000;
}

.profile-about {
    max-width: 500px;
    margin: 0 auto;
    float: none;
    width: 100%;
    padding: 30px 0px;
}

.profile-about .btn3 {
    margin: 20px 0px;
    background: #ef5858;
    font-size: 18px;
    color: #fff;
    padding: 1px 30px;
    margin-top: 15px;
    border: 2px solid #ef5858;
    transition: all 0.3s ease-in-out 0s;
}

.profile-about .btn3:hover {
    background: transparent;
    color: #ef5858;
}

button.btn.btn-success.btn-block.btn4 {
    background: #28a745;
    font-size: 18px;
    margin-top: 10px !important;
    color: #fff;
    margin-top: 40px !important;
    border: 2px solid #28a745;
    transition: all 0.3s ease-in-out 0s;
}

button.btn.btn-success.btn-block.btn4:hover {
    background: transparent;
    color: #28a745;
}

.profile-about label {
    font-size: 24px;
    font-weight: 400;
}

.userphotos {
    width: 140px;
    height: 140px;
    float: none;
    background: #f7f4f4;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    .small-icon span {
        color: #fff;
        font-size: 50px;
        padding-top: 5px;
    }
    .image-wrap button {
        bottom: 2px;
        right: 2px;
        padding: 5px 8px 5px 10px;
        font-size: 13px;
    }
    .userphotos {
        width: 100px;
        height: 100px;
        float: none;
        background: #f7f4f4;
    }
    .image_group {
        width: 115px;
    }
}


/* .userphotos img {
    max-width: 100%;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0 auto;
    display: block
} */

.horizontal {
    display: flex;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userphotos {
    float: none;
    background: #f7f4f4;
}

.image_group {
    padding: 5px;
}

.filename {
    font-size: 12px;
    margin-left: 12px;
    text-align: center;
    display: block;
    margin-bottom: -12px;
}

.upload_img_body {
    padding: 10px 100px
}

.noconfirm-btn {
    margin-top: -15px!important;
}

.gallery_upload {
    top: 20px;
}

.btn-custom6 {
    margin-top: 15px !important;
    color: #fff;
    font-size: 20px;
    background: #ef5858;
    padding: 7px 25px;
    float: left;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease-in-out 0s;
    border-width: 2px;
}

.btn-custom6:hover {
    background: #fff;
    color: #ef5858;
    border: 2px solid #ef5858;
}

.about_title {
    margin-bottom: 15px;
}

#comment {
    font-size: 16px;
    height: 80px !important;
    line-height: 1.5;
    color: #495057;
    background-color: #ebebeb;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
}

@media (max-width:380px) {
    .image_group {
        width: 50% !important;
    }
    .userphotos {
        width: 120px;
        height: 120px;
    }
}