<section class="home-wrap">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-xs-12 col-sm-12 col-md-5">

                <div class="logo hidden-xs">
                    <img src="assets/logo.png">
                </div>
                <div class="logo visible-xs">
                    <img src="assets/sm-logo.png">
                </div>
                <div class="headings">
                    <h1>Aimer App</h1>
                    <h2>The Dating App</h2>
                </div>
                <div class="login-btn">
                    <!-- <a [routerLink]="['/share-location/']"><button type="button" class="btn btn-custom btn-lg">Login With Facebook</button></a> -->
                    <a><button type="button" class="btn btn-custom btn-lg" (click)="signInWithFB()">Login With Facebook</button></a>
                </div>

            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="bottom-text">
                <div class="col-sm-3 col-md-3">
                    <a href="#">
                        <h3>Contact Us</h3>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3">
                    <a href="#">
                        <h3>FAQ</h3>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3">
                    <a href="#">
                        <h3>Privacy policy</h3>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3">
                    <a href="#">
                        <h3>Terms & Conditions</h3>
                    </a>
                </div>
                <div class="copy">
                    <p>Copyright &copy; 2018 All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>
</footer>